@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');



body {
    font-family: 'Inter', sans-serif;
  }

  body {
    background-color: #281C47
  }
  
  a {
    color: #7AC3F7;
    text-decoration: none;
  }
  

  button {
    background-color:#FAD4D8;
    color:#281C47 ;
    border: 1px solid #281C47;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
  }
  